.ti-cursor {
  display: inline-block;
  background: #000;
  width: 2px;
  height: 1em;
  margin-left: 2px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@font-face {
  font-family: 'CustomFont';
  src: url('./assets/Halo.ttf') format('truetype'); /* Correct format for .ttf files */
  font-weight: normal;
  font-style: normal;
}

.merri-font {
  font-family: 'CustomFont', sans-serif;
}
